<div class="message">
    <div class="icon">
      <% if message.user.image.attached? %>
        <%= image_tag message.user.image.variant(resize: '500x500'), class: 'icon_img'%>
      <% else %>
        <%= image_tag("default-icon.png", class: :icon_img) %>
      <% end %>
    </div>  
    
    <%# <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
    <%# </div> %>
  
    <div class="message-content">
      <%= message.content %>
    </div>
</div>