<div class="top">
  <div class="setting">
  <%= link_to image_tag("setting.png", class: :logo), edit_user_path(current_user) %>
  </div>
  <div class="title">
  <strong>ここは話をする所</strong>
  </div>
  <div class="add-friend">
  <%= link_to "<button>電話帳を追加</button>".html_safe,root_path %>
  </div>
</div>