<div class="under-room">
  <%= form_with model: [@room, @message], local: true do |f| %>
  <div class="form-input">
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
    <%= f.text_field :content, class: 'form-message', placeholder: 'ここに文字を書く' %>
    <%= f.submit '送信', class: 'form-submit' %>
  </div>
  <% end %>
</div> 