<div class="under">
  <div class="friends-button">
  <button><a href="#">ここを押すと
  <br>電話帳</a></button>
  </div>
  <div class="talk-button">
  <button><a href="#">ここを押すと
  <br>話をするところ</a></button>
  </div>
</div class="under">