<div class="under">
  <div class="friends-button">
  <a href="#"><button>ここを押すと
  <br>電話帳</button></a>
  </div>
  <div class="talk-button">
  <a href="#"><button>ここを押すと
  <br>話をするところ</button></a>
  </div>
</div class="under">