<div class="under">
  <div class="friends-button">
  <a href="#"><button>ここを押すと
  <br>電話帳が開く</button></a>
  </div>
  <div class="talk-button">
  <a href="#"><button>ここを押すと
  <br>話をする所へ</button></a>
  </div>
</div>