<div class="wrapper">
<div class="top-button">
    <%= render "top_button" %>
  </div>
  <div class="main-messages">
    <%= render "main_messages" %>
  </div>
  <div class="under-button">
    <%= render "under_button" %>
  </div>
</div>