<div class="wrapper">
  <div class="top-button">
    <%= render "top_button" %>
  </div>
  <div class="main-room">
    <%= render "main_message" %>
  </div>
  <div class="under-room">
    <%= render "under_form" %>
  </div>
</div>