<div class="wrapper">
  <div class="top-button">
    <%= render "top_button" %>
  </div>

  <div class="messages">
      <%= render partial: 'message', collection: @messages %>
      <div id = 'u'>
      </div>
  </div>
  
  <div class="under-room">
    <%= render "under_form" %>
  </div>
</div>