<div class="top-button">
  <%= render partial:"layouts/top_button" ,locals: { title: "ここは追加する所"  }%>
</div>

<div class="search">
  <% if @results.present? %>
  <% @results.each do |result| %>
  <%= link_to "#{result.name}","/users/#{result.id}"%>
  <%end%>
  <% else %>
  <% end %>
</div>
<div class="under-button">
  <%= render "layouts/under_button" %>
</div>
