<div class="under-room">
  <div class="form-input">
   <label class="form-image">
      <span class="image-file">写真を送る</span>
      <input type="file" class="hidden">
    </label>
    <input class="form-message" placeholder= "ここに文字を書く">
 
    <input class="form-submit" type="submit" value="送信">
  </div>
</div> 