<div class="top-button">
  <%= render partial:"layouts/top_button" ,locals: { title: "ここは話をするところ"  }%>
</div>

<div class="messages">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to "#{room.id}", room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>

<div class="under-button">
  <%= render "layouts/under_button" %>
</div>