.top-button{
  background-color:#253141;
  color:#ffffff;
}
.top{
  height:100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 30px;
}

.logo{
  width:40px;
  height:40px;
}

.title{
  font-size:48px;
}

.add-friend{
  font-size:30px;
}

.main-messages{
  background-color:#ffffff;
}

.messages{
  height:calc(100vh - 250px);
  padding:10px 30px 0;
  overflow: scroll;
}

.icon {
  position:relative;
  overflow: hidden;
  width:150px;
  height:150px;
  border-radius:50%;
}
.icon_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height:100%;
}

.message{
  display: flex;
  padding:40px 0;
}

.chat{
  padding:10px 30px;
}

.name{
  font-size:44px;
}

.text{
  font-size:38px;
  padding:10px 0;
  color:dimgray;
}

.under-button{
 background-color:#f8f8ff;

 color:dimgray;
}

.under{
  height:150px;
  border-top:1px solid lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size:34px;
}

a {
  text-decoration: none;
  border: none;
  color:dimgray;
}

.add-friend a {
  text-decoration: none;
  border: none;
  color:#ffffff;
}

.name a{
  color:#000000;
}
.top button{
  width:100px;
  font-size:22px;
  margin:5px;
  background:#253141;
  text-align:center;
  padding:5px;
  border-radius: 20px;
}

.under button{
  width:46vw;
  font-size:34px;
  color:#FFFFFF;
  text-align:center;
  margin:5px;
  background:#f8f8ff;
  padding:5px;
  border-radius: 20px;
}