.under-room{
  background-color:#f8f8ff;
  height:150px;
  border-top:1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:34px;
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.form-message {
  background-color: white;
  border: none;
  height: 80px;
  width: 100%;
  padding-left: 10px
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  height: 80px;
  width:100px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  background-color: lightblue;
  color: rgb(175, 108, 108);
  padding: 0 10px;
  height: 80px;
  width: 120px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.create-room-top{
  display: flex;
  text-align: center;
  justify-content: center;
  padding:40px;
}
.create-room-under{
  text-align: center;
}

.submit-btn{
  margin:20px;
  font-size:38px;
  border: none;
  outline: none;
  background: transparent;
  color:dimgray;
}

.message-form{
  justify-content: center;
}

.room-return{
  text-align: center;
  color:dimgray;
  font-size: 34px;
  padding:40px;
}

.room{
  display: flex;
  margin:20px 10px 60px;
  align-items: center;
}

.room-right{
  padding-left:20px;
}

.room-name{
  font-size:38px;
  color:#000000;
}

.room-message{
  font-size:34px;
}

.main-room{
  height:calc(100vh - 250px);
  padding:0 20px;
  overflow: scroll;
}