<div class="under">
  <div class="friends-button">
  <%= link_to "<button>ここを押すと<br/>電話帳を開く</button>".html_safe,"/users/#{current_user.id}" %>
  </div>
  <div class="talk-button">
  <%= link_to "<button>ここを押すと<br/>話をする所へ</button>".html_safe,root_path %>
  </div>
</div>